body{
    background-color: #fff;
}
/* h1 effect not working. Don't know why ????????*/

h1{
    color: rgba(8,141,165,1);
    margin-left: 100px;
    text-shadow: 1px .5px 4px rgba(0,0,0,0.6);
}
/* Below sets the characteristic of the container that the square faces are in*/
.container{
    width: 450px;
    height: 450px;
    background-color: #faebd7;
    border: 2px solid black;
    border-radius: 5%;
}

/* Below selects all squares in the array*/
.container .squares:nth-child(-n+4){
/* below specifies the background image from my icon folder*/
background-image: url("../images/icons/smileyface2.png");
/*Below specifies the color of the font (from the HTML file [Face Box 1 etc]*/
color: #fff;
/* Below causes the boxes to float to the left of the box*/
float: left;
/* width, height etc of boxes*/
width: 100px;
height: 100px;
margin: 5px;
border: 1px solid black;
border-radius: 25%;
/* below, when put the cursor on the box, it changes the cursor to a pointer (a finger pointing hand)*/
cursor: pointer;
transition:transform .5 ease-in-out;
}
/* below selects all square paragraphs in the array */
.squares:nth-child(-n+4) p{
    /*below styles the words (box 1 etc) in the "p" HTML element */
    font-family: "Helvetica Neue", Helvetic, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
    text-shadow: 2px 1px 4px rgba(0,0,0,0.8);
}

/* Individually select a square in the array and gives it a color*/

.squares:nth-child(1) {
    background: #4240ff;
}

.squares:nth-child(2) {
    background: #ab3fdd;
}

.squares:nth-child(3){
    background: #ae163e;
}

.squares:nth-child(4){
    background: #00b200;
}

/* Selects all of the squares in the container and says what to do when someone hovers over them.  */

.container .squares:nth-child(-n+4):hover{
    /* changes background image in box to a smiley face */
    background-image: url("../images/icons/smileyface1.png");
    /*"transform" property allows to scale image to half its normal size*/
    transform: scale(.5);
    /* below names the animation "race"*/
    animation-name: race;
    /* below specifies that the animation will take 2.5 seconds to do*/
    animation-duration: 10s;
    /* below says how many times the animation will happen, in this case it will go to infinity*/
    animation-iteration-count: infinite;
    /*The speed curve defines the TIME an animation uses to change from one set of CSS styles to another. The four numbers are x1, y1, x2, y2 */
    animation-timing-function:cubic-bezier(2.5,.2,.3,2) ;
}
/* below says what color to change squares to when the user hovers over them*/
.squares:nth-child(1):hover{
    background color:#13b4ff;
}

.squares:nth-child(2):hover{
    background: #d861af;
}

.squares:nth-child(3):hover{
    background: #81205f;
}

.squares:nth-child(4):hover{
    background: #77b800;
}

/* animation effect */
@keyframes race{
    0%, 100% {
        transform: translateY(0px)
        background-image: url("../images/icons/smileyface1.png")
    }
    50% {
        transform: translateY(330px);
    }
}